@page "/register"
@using System.ComponentModel.DataAnnotations
<div class="container-fluid">
    <div class="row">
        <div class="col-md-7 col-12 mx-auto">
            <div class="row my-5">
                <div class="col-md-6 col-12 mx-auto">
                    <div class="card registerForm">
                        <h2 class="card-header registerHeader"> <b>Register</b></h2>
                        <div class="card-body">
                            <EditForm Model="user">
                                <DataAnnotationsValidator />
                                <fieldset class="border p-2">
                                    <legend class="float-none w-auto p-2" >DATOS DEL USUARIO</legend>
                                    <div class="form-group">
                                        <label><b>Nombre: </b></label>
                                        <InputText type="text" @bind-Value="user.name" class="form-control" />
                                        <ValidationMessage For="@(() => user.name)" />
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <label><b>Apellidos: </b></label>
                                        <InputText type="text" @bind-Value="user.surname" class="form-control" />
                                        <ValidationMessage For="@(() => user.surname)" />
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <label><b>Email: </b></label>
                                        <InputText type="email" @bind-Value="user.email" class="form-control" />
                                        <ValidationMessage For="@(() => user.email)" />
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <label><b>Telefono: </b></label>
                                        <InputText type="text" @bind-Value="user.phone" class="form-control" />
                                        <ValidationMessage For="@(() => user.phone)" />
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <label><b>Contraseña: </b></label>
                                        <InputText type="password" @bind-Value="user.password" class="form-control" />
                                        <ValidationMessage For="@(() => user.password)" />
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <label><b>Repetir Contraseña: </b></label>
                                        <InputText type="password" @bind-Value="user.ConfirmPassword" class="form-control" />
                                        <ValidationMessage For="@(() => user.ConfirmPassword)" />
                                    </div>
                                </fieldset>
                                <br />
                                <fieldset class="border p-2">
                                    <legend class="float-none w-auto p-2">ROL</legend>
                                    <div class="form-group checkBox">
                                        <label>
                                            Profesor:
                                            <InputRadio @bind-Value="user.teacher" />
                                        </label>
                                        <br />
                                        <br />
                                        <label>
                                            Alumno:
                                            <InputRadio @bind-Value="user.student" />
                                        </label>
                                        <br />
                                        <br />
                                        <label>
                                            Admin:
                                            <InputRadio @bind-Value="user.admin" />
                                        </label>
                                    </div>
                                </fieldset>
                                <br />
                                <br />
                                <br />
                                <button class="btn btn-primary"> Registrarse</button>
                                <NavLink href="/login" class="btn btn-link">Cancelar</NavLink>
                            </EditForm>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@code {
    Models.User user = new Models.User();
}
