@page "/userList"
@using System.Net.Http.Headers;
@using grupo3.Models;
@inject HttpClient client
@inject IJSRuntime JsRuntime


<div class="container-fluid">
    <div class="row">
        <div class="col-md-7 col-12 mx-auto">
            <table class="table table-striped table-hover">
                <thead class="table-thead">
                    <tr>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Email</th>
                        <th>Teléfono</th>
                        <th>Admin</th>
                        <th>Rol</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (UserResponse user in users)
                    {
                        <tr>
                            <td>@user.name</td>
                            <td>@user.surname</td>
                            <td>@user.email</td>
                            <td>@user.phone</td>
                            <td>@user.admin</td>
                            @{
                                rol = user.teacher ? "Profesor" : "Alumno";
                            }
                            <td>@rol</td>
                            <td><img class="table-icon" src="images/pen.png" /></td>
                            <td><img @onclick="Delete_Click" class="table-icon" src="images/remove.png" /></td>
                        </tr>
                    }
                    
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {

    private List<UserResponse>? users { get; set; }
    private string? rol { get; set; }

    protected async void Delete_Click(){
        
    }


    protected override async Task OnInitializedAsync()
    {
        //client.DefaultRequestHeaders.Add("Access-Control-Allow-Origin", "*");
        //Console.WriteLine(client.DefaultRequestHeaders.ToString());
        //users = await client.GetFromJsonAsync<List<UserResponse>>("http://localhost:8080/api/users");
        //Console.WriteLine(response.name + " //// " + client.DefaultRequestHeaders.ToString());

        UserResponse user1 = new UserResponse(1, "Ander", "Bustillo Pedron", "hola", "ander@gmail.com", "659585402", false, true, false);
        UserResponse user2 = new UserResponse(2, "Ander", "Bustillo Pedron", "hola", "ander@gmail.com", "659585402", true, false, false);
        UserResponse user3 = new UserResponse(3, "Ander", "Bustillo Pedron", "hola", "ander@gmail.com", "659585402", false, true, false);
        UserResponse user4 = new UserResponse(4, "Ander", "Bustillo Pedron", "hola", "ander@gmail.com", "659585402", false, true, false);
        UserResponse user5 = new UserResponse(5, "Ander", "Bustillo Pedron", "hola", "ander@gmail.com", "659585402", false, true, false);
        UserResponse user6 = new UserResponse(6, "Ander", "Bustillo Pedron", "hola", "ander@gmail.com", "659585402", false, true, false);
        UserResponse user7 = new UserResponse(7, "Ander", "Bustillo Pedron", "hola", "ander@gmail.com", "659585402", false, true, false);
        UserResponse user8 = new UserResponse(8, "Ander", "Bustillo Pedron", "hola", "ander@gmail.com", "659585402", true, false, false);
        UserResponse user9 = new UserResponse(9, "Ander", "Bustillo Pedron", "hola", "ander@gmail.com", "659585402", false, true, false);
        UserResponse user10 = new UserResponse(10, "Ander", "Bustillo Pedron", "hola", "ander@gmail.com", "659585402", false, true, false);
        UserResponse user11 = new UserResponse(11, "Ander", "Bustillo Pedron", "hola", "ander@gmail.com", "659585402", true, false, false);
        UserResponse user12 = new UserResponse(12, "Ander", "Bustillo Pedron", "hola", "ander@gmail.com", "659585402", false, true, false);
        UserResponse user13 = new UserResponse(13, "Ander", "Bustillo Pedron", "hola", "ander@gmail.com", "659585402", false, true, false);
        UserResponse user14 = new UserResponse(14, "Ander", "Bustillo Pedron", "hola", "ander@gmail.com", "659585402", false, true, false);
        UserResponse user15 = new UserResponse(15, "Ander", "Bustillo Pedron", "hola", "ander@gmail.com", "659585402", false, true, false);
        UserResponse user16 = new UserResponse(16, "Ander", "Bustillo Pedron", "hola", "ander@gmail.com", "659585402", true, false, false);
        UserResponse user17 = new UserResponse(17, "Ander", "Bustillo Pedron", "hola", "ander@gmail.com", "659585402", false, true, false);
        UserResponse user18 = new UserResponse(18, "Ander", "Bustillo Pedron", "hola", "ander@gmail.com", "659585402", true, false, false);
        UserResponse user19 = new UserResponse(19, "Ander", "Bustillo Pedron", "hola", "ander@gmail.com", "659585402", true, false, false);
        UserResponse user20 = new UserResponse(20, "Ander", "Bustillo Pedron", "hola", "ander@gmail.com", "659585402", true, false, false);
        UserResponse user21 = new UserResponse(21, "Ander", "Bustillo Pedron", "hola", "ander@gmail.com", "659585402", true, false, false);
        UserResponse user22 = new UserResponse(22, "Ander", "Bustillo Pedron", "hola", "ander@gmail.com", "659585402", true, false, false);

        users = new List<UserResponse> { user1, user2, user3, user4, user5, user6, user7, user8, user9, user10, user11, user12, user13, user14, user15,
    user16, user17, user18, user19, user20, user21, user22};
    }



}
